<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="http://10.18.3.87:8080/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://10.18.3.87:8080/assets/font-awesome/css/font-awesome.min.css">
    
    <!-- animate -->
    <!-- <link rel="stylesheet" href="http://10.18.3.87:8080/assets/css3/animate/animate.min.css"> -->
    
    <!-- ace styles -->
    <link rel="stylesheet" href="http://10.18.3.87:8080/assets/ace/css/ace.css">
    
    <!-- dijit -->
    <link type="text/css" rel="stylesheet" href="http://10.18.3.87:8080/assets/dijit/themes/flat_purple_blue/flat_purple_blue.css">
    
    <!-- Page -->
    <link type="text/css" rel="stylesheet" href="http://10.18.3.87:8080/assets/lianpu/themes/flat_purple_blue/Page.css">
    
    <!-- webuploader -->
    <link rel="stylesheet" href="http://10.18.3.87:8080/assets/lianpux/webuploader/css/cropper.css">
    <link rel="stylesheet" href="http://10.18.3.87:8080/assets/lianpux/webuploader/css/webuploader.css">
  </head>
  <body>
      <div id="page"></div>
  </body>
</html>